<h1>Reports</h1>

<p>
  <%= form_with model: false, url: csv_reports_path do |f| %>
    <%= f.submit 'Generate Products CSV Report' %>
  <% end %>
  <span>
    In case of generating one new report, it may take a while... take some coffe and refresh the page from time to time :)
  </span>
</p>

<p>
  <%= link_to  "Show all csv reports", csv_reports_path(all: true) %>
</p>

<% @reports.take(@quantity).each do |report| %>
  <%= link_to "#{report[:id]} - #{report[:file_name]}", csv_report_path(report[:id]) %><br>
<% end %>
